html {
  background-color: #fff; }

.topinfo {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0; }
  .topinfo h4 {
    font-weight: 400;
    min-height: 30px; }
  .topinfo .otherinfo {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666; }
    .topinfo .otherinfo .bookicon {
      display: inline-block;
      background: url(../images/img-book.png);
      background-size: 100% 100%;
      width: 12px;
      height: 12px; }
